@charset "UTF-8";

/*  */
body {
  margin: 0;
  padding: 0;
  font-family: "游ゴシック Medium", "Noto Sans JP";
  color: #212529;
}
p {
  padding: 0;
  margin: 0;
}
a {
  color: #212529;
  text-decoration: none;
  transition-duration: 0.2s;
}
a:hover {
  color: #0099cc;
  text-decoration: none;
}
a.active {
  color: #0099cc;
}


/* ヘッダー ナビゲーションメニュー */
header {
  height: 80px;
}
#head-top {
  padding: 5px 15px 0;
  margin: 0 auto;
}
#akiyama {
  margin: 0px 0px 5px;
  padding-left: 3px;
  height: 25px;
}
#tel {
  display: none;
}
.fa-phone {
  color: #0099cc;
}
#nav {
  padding: 0px 15px;
  margin: 0 auto;
}
.navbar-brand {
  padding: 0px;
  font-size: 28px;
  font-weight: bold;
  color: #0099cc;
  font-family: "游明朝 Medium";
}
.navbar-toggler {
  margin: 0 0 3px;
  padding: 6px 7px;
  font-size: 1.5rem;
  border: 1px solid #ddd;
  border-radius: 5px;
}
.nav-link {
  margin: 0 5px;
  padding: 0px;
  font-weight: bold;
  text-align: right;
}
.nav-item {
  margin: 7px 0;
}
@media (min-width: 576px) {
  header {
    height: 110px;
  }
  #head-top {
    padding: 5px 45px 0;
  }
  #nav {
    padding: 0px 45px;
  }
  #tel {
    display: inherit;
    margin: 0 0 10px;
    padding: 0 0.5rem;
    font-size: 22px;
  }
  .navbar-brand {
    font-size: 36px;
  }
  .nav-item {
    margin: 8px 0;
    border-right: 1.5px solid #ddd;
  }
  .nav-item:last-child {
    border-right: 0;
  }
}


/* 見出し */
#title {
  padding: 60px 0 15px;
  text-align: center;
}
h2 {
  margin: 0 auto;
  padding-bottom: 1px;
  display: inline-block;
  border-bottom: 1.5px dotted #0099cc;
}
h4 {
  display: inline-block;
  padding-bottom: 1px;
  border-bottom: 1.5px dotted #0099cc;
  font-size: 22px;
}
.h4 {
  text-align: center;
}


/* コンテンツエリア全体 */
#container {
  margin: 0 auto;
}
/* メインビジュアル */
#main-visual {
  background-image: url("reserve.png");
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 200px;
}
@media (min-width: 576px) {
  #main-visual {
    height: 350px;
  }
}

/* 予約エリア全体のスタイル */
.contents{
  max-width: 1242px;
  margin: 30px auto 60px;
}
#web-reserve {
  padding: 15px 0 30px;
}
/* 左カラムのスタイル */
#left-column {
  margin: 15px 0 0;
  padding: 0px 10px;
}
/* 右カラムのスタイル */
#right-column {
  margin: 15px 0 0;
  padding: 0px 10px;
}
@media (min-width: 576px) {
  /* 左カラムのスタイル */
  #left-column {
    padding: 0px 45px;
  }
  /* 右カラムのスタイル */
  #right-column {
    padding: 0px 45px;
  }
}



/* カレンダー全体のスタイル */
#calendar-area {
  margin-top: 30px;
}
#calendar {
  background-color: #fff;
}
/* カレンダーナビのスタイル */
#calendar-nav {
  text-align: center;
  height: 27px
}
#calendar-nav span {
  display: inline-block;
  width: 200px;
}
#calendar-nav i:hover {
  cursor: pointer;
}
/* カレンダーのスタイル */
.table th, td{
  text-align: center;
  cursor: default;
  background-color:transparent;
}
#calendar .selectable {
  transition-duration: 0.2s;
}
#calendar .selectable:hover {
  opacity: 0.6;
  background-color: rgb(199, 233, 255);
  cursor: pointer;
}
#calendar tbody td:not(.selectable) {
  color: rgb(196, 196, 196);
}
#calendar .active {
  opacity: 1;
  background-color: rgb(199, 233, 255);
}
#explain {
  text-align: right;
}


/* タイムチャートのスタイル */
#timechart-area {
  margin: 15px 0 30px;
  background-color: #fff;
}
#timechart th{
  margin: 0;
  padding: 0;
}
#timechart td {
  height: 10px;
  margin: 0;
  padding: 0;
}
#timechart tbody tr .selectable {
transition-duration: 0.2s;
}
#timechart tbody tr .selectable:hover {
  opacity: 0.6;
  background-color: rgb(199, 233, 255);
  cursor: pointer;
}
#timechart tbody tr .active {
  opacity: 1;
  background-color: rgb(199, 233, 255);
  cursor: pointer;
}
#timechart tbody tr .chart:not(.selectable) {
  color: rgb(196, 196, 196);
}


/* 入力フォーム */
#form-area {
  margin-top: 30px;
  background-color: #fff;
}
.label {
  font-size: 14px;
  font-weight: bold;
}
.error {
  margin: 0;
  padding: 0;
  font-size: 12px;
  color: red;
}
textarea {
  min-height: 7em;
}
#send-button {
  margin-top: 30px;
}


/* モーダル */
.modal-content {
  text-align: center;
}
/* 読み込み中アイコン */
.loading-icon {
  top: 50%;
  left: 50%;
  font-size: 46px;
  animation: spin 2s linear infinite;
}
/* 回転するアニメーション */
@keyframes spin {
  100% {
    transform: rotate(360deg);
  }
}

/* vuejs読み込み対策 */
[v-cloak] {
  display: none !important;
}

/* フッター */
footer {
  padding: 0 30px 5px;
  text-align: right;
}
footer #footer_navi ul {
  margin: 0;
  padding: 0;
  font-size: 0;
  list-style: none;
  text-align: center;
}
footer #footer_navi li {
  display: inline-block;
  margin: 9px 0;
  padding: 0px 7px;
  border-right: 1.5px solid #ddd;
  font-size: 15px;
}
footer #footer_navi li:last-child {
  border-right: 0;
}