<!DOCTYPE html>
<html lang="ja">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <title>予約｜ジェロムレ歯科</title>
  
  <!--Vuejs-->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/vue/2.6.11/vue.min.js"></script>
  <!--Bootstrap-->
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

  <!--スタイルシート読み込み-->
  <link rel="stylesheet" href="reserve.css">

</head>
<body>
  <header>
    <!--ナビゲーションバー-->
    
    <div id="head-top" class="d-flex flex-row justify-content-between">

      <div id="akiyama">
        <p>秋山県香田市の歯科･口腔外科</p>
      </div>
      <div id="tel">
          <p><i class="fas fa-phone"></i> 000-000-0000</p>
      </div>
    </div>

      <nav class="navbar navbar-expand-lg d-flex flex-row justify-content-between" id="nav">
      <!-- ホームへ戻るリンク。ブランドロゴなどを置く。 -->
        <div id="navbar-brand-area" class="align-self-end">
          <a href="#" class="navbar-brand">ジェロムレ歯科</a>
        </div>

        <!-- 横幅が狭い時に出るハンバーガーボタン -->
        <button type="button" class="navbar-toggler align-self-end" data-toggle="collapse" data-target="#nav-bar">
          <i class="fas fa-bars"></i>
        </button>

        <!-- メニュー項目 -->
        <div class="collapse navbar-collapse align-self-end justify-content-end" id="nav-bar">
          <ul class="navbar-nav">
            <li class="nav-item"><a href="#" class="nav-link">当院紹介</a></li>
            <li class="nav-item"><a href="#" class="nav-link">診療内容</a></li>
            <li class="nav-item"><a href="#" class="nav-link active">ご予約</a></li>
            <li class="nav-item"><a href="#" class="nav-link">担当医師</a></li>
            <li class="nav-item"><a href="#" class="nav-link">よくある質問</a></li>
            <li class="nav-item"><a href="#" class="nav-link">アクセス</a></li>
          </ul>
        </div>
    </nav>
    <!--ナビゲーションバー終わり-->
  </header>
  
  <div id="container">
    <div id="main-visual">
    </div>
    <div id="title">
      <h2>ご予約フォーム</h2>
    </div>    

    <div id="app">
      <div id="web-reserve">
        <div class="row contents">
          <!--左の列-->
          
          <div id="left-column" class="col-md-6">
            <div class="h4">
              <h4>ご希望のお時間をご選択ください</h4>
            </div>
            <!--カレンダー開始-->
            <div id="calendar-area" class="p-1">
              <div id="calendar-nav">
                <!--前の月を表示-->
                <i
                  class="fas fa-angle-left"
                  v-on:click="moveLastMonth"
                ></i>
                <!--年月表示-->
                <span class="label" v-cloak>{{ calData.year }}年 {{ getMonthName(calData.month) }}</span>
                <!--次の月を表示-->
                <i 
                  class="fas fa-angle-right"
                  v-on:click="moveNextMonth"
                ></i>
              </div>
              <table id="calendar" class="table mb-1">
                <thead>
                    <tr>
                        <th v-for="week in weeks" v-cloak>{{ week }}</th>
                    </tr>
                </thead>
                <tbody>
                    <tr v-for="week in calendar">
                      <td 
                        v-for="(day, index) in week" 
                        v-bind:class="{
                                        active: calData.activeDay == day.day,
                                        selectable: day.fullDay >= calData.today &&
                                                    index != 0 &&
                                                    index != 3 
                                      }"
                        v-on:click="selectDate(day.day, day.fullDay, index)"
                        v-cloak
                      >
                        {{ day.day }}
                      </td>
                    </tr>
                </tbody>
              </table>
              <!--カレンダー終わり-->
              <p id="explain">
                ※水曜・日曜は定休（祝日は不定休）
              </p>
            </div>
            <!--タイムチャート開始-->
            <div id="timechart-area">
              <table id="timechart" class="table">
                <thead>
                  <tr>
                    <th>診察時間</th>
                  </tr>
                </thead>
                <tbody>
                  <!--タイムチャート生成-->
                  <tr v-for="time in timeChart">
                    <td
                      v-bind:class="{
                        active: formData.time == time.time,
                        selectable: reserveChk(time.time)
                      }"
                      class="chart"
                      v-on:click="selectTime(time.time)"
                      v-cloak
                    >
                      {{ time.time }}
                    
                    </td>
                  </tr>
                  <!--日付未選択時に表示-->
                  <tr v-show="formData.date == ''">
                    <td>日付を選択すると予約可能な時間が表示されます。</td>
                  </tr>
                </tbody>
              </table>
            <!--タイムチャート終わり-->
            </div>
          </div>

          <!--右の列-->
          <div id="right-column" class="col-md-6">
            <div class="h4">
              <h4>お客様の情報をご入力ください</h4>
            </div>
            <!--入力フォーム開始-->
            <div id="form-area" class="p-1">
            <p class="label" v-cloak>ご予約日時：　{{ formData.date }} {{ formData.time }}<span class="error" v-cloak> {{ formCheck.time }}</span></p>

            <form id="input-form" class="pt-3">  
              <p class="label"><label>お名前：</label><span class="error" v-cloak> {{ formCheck.name }}</span></p>
              <div class="form-group input-group">
                  <input type="text" class="form-control" v-model="formData.name">
              </div>

              <p class="label"><label>メールアドレス：</label><span class="error" v-cloak> {{ formCheck.mail }}</span></p>
              <div class="form-group input-group text-nowrap">
                  <input type="text" class="form-control" v-model="formData.mail">
              </div> 

              <p class="label"><label>初診/再診：</label><span class="error" v-cloak> {{ formCheck.type }}</span></p>
              <div class="form-group input-group text-nowrap">
                <select class="custom-select" id="inputGroupSelect03" v-model="formData.type">
                  <option value="初診">初診</option>
                  <option value="再診">再診</option>
                </select>
              </div>

              <p class="label"><label>備考：</label></p>
              <div class="form-group input-group text-nowrap">
                  <textarea type="text" class="form-control" v-model="formData.comment"></textarea>
              </div>
              <!--送信ボタン-->
              <button id="send-button" type="button" class="btn btn-primary btn-block" v-on:click="sendReserve()">ご予約内容を送信する</button>
            </form>
            </div>
            <!--入力フォーム終わり-->
          </div>
        </div>
      </div>

      <!-- モーダル -->
      <div class="modal fade" id="Modal" tabindex="-1" role="dialog" data-backdrop="static" aria-labelledby="ModalLabel" aria-hidden="true" data-show="true">
        <!--ローディング中-->
        <div class="modal-dialog modal-sm" role="document"  v-show="modal.status === 'loading'">
          <div class="modal-content">
            <div class="modal-body">
              <span class="loading-icon fas fa-sync" aria-hidden="true"></span>
            </div>
          </div>
        </div>

        <!--予約完了-->
        <div class="modal-dialog" role="document" v-show="modal.status === 'success'">
          <div class="modal-content">
              <div class="modal-body">
                予約が完了しました。<br>
                <hr>
                <button type="button" class="btn btn-primary" v-on:click="window.location.reload(true);">OK</button>
              </div>
          </div>
        </div>

        <!--エラー-->
        <div class="modal-dialog" role="document" v-show="modal.status === 'error'">
          <div class="modal-content">
              <div class="modal-body">
                {{ modal.errMsg }}<br>
                <hr>
                <button type="button" class="btn btn-primary" data-dismiss="modal" aria-label="Close">閉じる</button>
              </div>
          </div>
        </div>

      </div>
      <!--モーダル終わり-->

    </div>
  </div>
  <footer class="m-1">
    <div id="footer_navi">
      <ul>
        <li><a href="#" >当院紹介</a></li>
        <li><a href="#" >診療内容</a></li>
        <li><a href="#" class="active">ご予約</a></li>
        <li><a href="#" >担当医師</a></li>
        <li><a href="#" >よくある質問</a></li>
        <li><a href="#" >アクセス</a></li>
      </ul>
    </div>
    <small>&copy; 2020 Jerome Le Dental Clinic</small>
  </footer>


  <!--js読み込み-->
  <script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>

  <!--js-->
  <script src="reserve.js"></script>

  <!-- Font Awesome -->
  <script src="https://kit.fontawesome.com/9a43c2d038.js" crossorigin="anonymous"></script>

</body>
</html>